<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="./logo-uns-biru.webp" type="image/x-icon">
    <title>APLIKASI ANALISIS RISIKO KECELAKAAN KERJA PADA PROYEK</title>
</head>
<body>
    <div class="flex flex-col px-60 bg-white pt-16">
        <div class="w-[542px] flex">
            <img class="w-[110px] h-[110px] left-0 top-0 rounded-full" src="/static/logo-uns-biru.webp" />
            <div class="w-[356px] h-[120px] pl-5 text-black text-[24px] font-bold">APLIKASI
                ANALISIS RISIKO KECELAKAAN KERJA PADA PROYEK </div>
        </div>
        <div class="text-black text-[26px] font-normal pt-12 pb-4">Pilih proyek anda</div>
        <div class="w-[1131px] h-[419px] flex">
            <a href="/project/add" class="w-[97px] h-[150px]">
                <div class="w-[96.69px] h-[121.72px] flex items-center justify-center bg-zinc-300 hover:bg-zinc-200">
                    <img class="w-[40px] h-[40px]" src="/static/logo-plus2.svg" alt="">
                </div>
                <div class="w-[96.69px] h-[121.72px] text-black text-center text-[15px] font-normal">Baru</div>
            </a>
            <div class="w-[0px] h-[400px] border border-neutral-400 mx-8"></div>
            <div class="w-[900px] h-[378px] flex flex-wrap gap-x-8">
                <button class="w-[97px] h-[190px] overflow-hidden mb-6">
                    <div class="w-[96.69px] h-[121.72px] bg-zinc-300 hover:bg-zinc-200"></div>
                    <div class="w-[96.69px] h-[70px] text-center text-black text-[15px] font-normal">
                        Project Jembatan Ancol dafafafadffads</div>
                </button>
                <button class="w-[97px] h-[190px] overflow-hidden mb-6">
                    <div class="w-[96.69px] h-[121.72px] bg-zinc-300 hover:bg-zinc-200"></div>
                    <div class="w-[96.69px] h-[70px] text-center text-black text-[15px] font-normal">
                        Project 1</div>
                </button>
                <button class="w-[97px] h-[190px] overflow-hidden mb-6">
                    <div class="w-[96.69px] h-[121.72px] bg-zinc-300 hover:bg-zinc-200"></div>
                    <div class="w-[96.69px] h-[70px] text-center text-black text-[15px] font-normal">
                        Project 1</div>
                </button>
                <button class="w-[97px] h-[190px] overflow-hidden mb-6">
                    <div class="w-[96.69px] h-[121.72px] bg-zinc-300 hover:bg-zinc-200"></div>
                    <div class="w-[96.69px] h-[70px] text-center text-black text-[15px] font-normal">
                        Project 1</div>
                </button>
                <button class="w-[97px] h-[190px] overflow-hidden mb-6">
                    <div class="w-[96.69px] h-[121.72px] bg-zinc-300 hover:bg-zinc-200"></div>
                    <div class="w-[96.69px] h-[70px] text-center text-black text-[15px] font-normal">
                        Project 1</div>
                </button>
                <button class="w-[97px] h-[190px] overflow-hidden mb-6">
                    <div class="w-[96.69px] h-[121.72px] bg-zinc-300 hover:bg-zinc-200"></div>
                    <div class="w-[96.69px] h-[70px] text-center text-black text-[15px] font-normal">
                        Project 1</div>
                </button>
            </div>
            <div class="w-[0px] h-[400px] border border-neutral-400 mx-8">
            </div>
            <div class="w-[399px] h-[407px]">
                <div class="w-[297px] h-[46px] mb-4">
                    <div class="w-[297px] h-[21px] text-violet-700 text-[23px] font-semibold mb-1">Proyek
                        Jembatan Ancol</div>
                    <div class="w-[230px] h-[17px] text-neutral-500 text-[17px] font-normal">
                        Jakarta, Indonesia</div>
                </div>
                <div class="w-[388px] h-[94.67px] mb-8">
                    <div class="w-[335px] h-[17px] text-black text-[17px] font-normal mb-2">Tipe Bangunan :
                        Jembatan</div>
                    <div class="w-[370.57px] h-[17.53px] text-black text-[17px] font-normal mb-2">
                        Revit : JembatanAncol2022.rvt</div>
                    <div class="w-[380.66px] h-[17.53px] text-black text-[17px] font-normal mb-2">
                        Excel : JembatanAncol2022.xlsx</div>
                    <div class="w-[387.99px] h-[17.53px] text-black text-[17px] font-normal mb-2">
                        Tanggal Proyek : 27/01/2022 - 28/12/2022</div>
                </div>
                <div class="w-[310.03px] h-[145.23px] mb-4">
                    <div class="w-72 h-7 mb-3 text-center bg-gray-200 rounded-[30px] text-red-600 text-[17px] font-normal">
                            Aktivitas dengan Risiko Terbesar
                    </div>
                    <div
                        class="w-[299.02px] h-[17.53px] text-black text-[17px] font-normal mb-3">
                        2.2.5 Pile Cutting (RI 4.2)</div>
                    <div
                        class="w-[297.19px] h-[17.53px] text-black text-[17px] font-normal mb-3">
                        2.2.8 Abutment (RI 3.2)</div>
                    <div
                        class="w-[299.02px] h-[17.53px] text-black text-[17px] font-normal mb-3">
                        2.2.7 Oprit Bridge (RI 3.8)</div>
                </div>
                <a href="" class="pt-1 pb-2 px-16 bg-sky-500 hover:bg-blue-500 rounded-xl text-center text-white text-normal text-[17px]">Buka</a>
            </div>
        </div>
    </div>
    <div class="w-48 h-[40px] bg-cyan-300 rounded-bl-[50px] right-[0px] top-[0] fixed flex pl-5 pr-2 py-1 place-content-between">
        <div class="h-[45px] pl-2 text-black text-[15px] font-normal text-[17px] font-semibold">Almerano, UNS</div>
        <a href="./skripsi.html" class="w-[30px] h-[30px] bg-red-500 rounded-full flex items-center justify-center">
            <img class="w-[15px] h-[18px]" src="/static/logo-exit3.svg" alt="">
        </a>
    </div>
</body>
</html>