<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="./logo-uns-biru.webp" type="image/x-icon">
    <title>APLIKASI ANALISIS RISIKO KECELAKAAN KERJA PADA PROYEK</title>
</head>

<body>
    <div class="flex flex-col px-60 bg-white py-16">
        <div class="w-[542px] flex">
            <img class="w-[110px] h-[110px] left-0 top-0 rounded-full" src="/static/logo-uns-biru.webp" />
            <div class="w-[356px] h-[120px] pl-5 text-black text-[24px] font-bold">APLIKASI
                ANALISIS RISIKO KECELAKAAN KERJA PADA PROYEK </div>
        </div>
        <div>
            <div class="text-black text-[26px] font-normal pt-12 pb-4">Edit WBS dan RBA</div>
            <div class="flex">
                <div class="mx-2">
                    <div class="w-[31.5rem] mb-5 bg-zinc-300 py-1 border border-gray-500 text-[16px] font-semibold text-center">WBS</div>
                    <div class="relative overflow-x-auto">
                        <table class="w-full text-sm border border-gray-300 text-left text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-200">
                                <tr>
                                    <th scope="col" class="w-72 px-6 py-3">
                                        Nama
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Kode
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Edit
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bg-white border-b">
                                    <th scope="row" class="px-6 py-4 whitespace-nowrap">
                                        <button class="font-medium text-gray-900 hover:text-blue-400 focus:text-blue-400">Sub Structure</button>
                                    </th>
                                    <td class="px-6 py-4">
                                        2
                                    </td>
                                    <td class="px-6 py-4">
                                        <div class="flex">
                                            <button>
                                                <img class="mx-2 w-[15px] h-[18px]" src="/static/logo-edit.svg" alt="">
                                            </button>
                                            <button>
                                                <img class="ml-8 w-[15px] h-[18px]" src="/static/logo-delete.svg" alt="">
                                            </button>
                                        </div> 
                                    </td>
                                </tr>
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <th scope="row" class="px-6 py-4 whitespace-nowrap">
                                        <button class="font-medium text-gray-900 hover:text-blue-400 focus:text-blue-400">Earthwork</button>
                                    </th>
                                    <td class="px-6 py-4">
                                        2.1
                                    </td>
                                    <td class="px-6 py-4">
                                        <div class="flex">
                                            <button>
                                                <img class="mx-2 w-[15px] h-[18px]" src="/static/logo-edit.svg" alt="">
                                            </button>
                                            <button>
                                                <img class="ml-8 w-[15px] h-[18px]" src="/static/logo-delete.svg" alt="">
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="bg-white dark:bg-gray-800">
                                    <th scope="row" class="px-6 py-4 whitespace-nowrap">
                                        <button class="font-medium text-gray-900 hover:text-blue-400 focus:text-blue-400">Soil Excavation</button>
                                    </th>
                                    <td class="px-6 py-4">
                                        2.1.1
                                    </td>
                                    <td class="px-6 py-4">
                                        <div class="flex">
                                            <button>
                                                <img class="mx-2 w-[15px] h-[18px]" src="/static/logo-edit.svg" alt="">
                                            </button>
                                            <button>
                                                <img class="ml-8 w-[15px] h-[18px]" src="/static/logo-delete.svg" alt="">
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="mx-2">
                    <div class="w-[31.5rem] mb-5 bg-zinc-300 py-1 border border-gray-500 text-[16px] font-semibold text-center">RBA</div>
                    <div class="relative overflow-x-auto">
                        <table class="w-full text-sm border border-gray-300 text-left text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-200">
                                <tr>
                                    <th scope="col" class="w-72 px-6 py-3">
                                        Nama
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Kode
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Edit
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bg-white border-b">
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        Worker Stuck
                                    </th>
                                    <td class="px-6 py-4">
                                        RA21
                                    </td>
                                    <td class="px-6 py-4">
                                        <div class="flex">
                                            <button>
                                                <img class="mx-2 w-[15px] h-[18px]" src="/static/logo-edit.svg" alt="">
                                            </button>
                                            <button>
                                                <img class="ml-8 w-[15px] h-[18px]" src="/static/logo-delete.svg" alt="">
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        Worker Slips
                                    </th>
                                    <td class="px-6 py-4">
                                        RA20
                                    </td>
                                    <td class="px-6 py-4">
                                        <div class="flex">
                                            <button>
                                                <img class="mx-2 w-[15px] h-[18px]" src="/static/logo-edit.svg" alt="">
                                            </button>
                                            <button>
                                                <img class="ml-8 w-[15px] h-[18px]" src="/static/logo-delete.svg" alt="">
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="bg-white dark:bg-gray-800">
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        Earthwall Collapse
                                    </th>
                                    <td class="px-6 py-4">
                                        RA5
                                    </td>
                                    <td class="px-6 py-4">
                                        <div class="flex">
                                            <button>
                                                <img class="mx-2 w-[15px] h-[18px]" src="/static/logo-edit.svg" alt="">
                                            </button>
                                            <button>
                                                <img class="ml-8 w-[15px] h-[18px]" src="/static/logo-delete.svg" alt="">
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="text-black text-[26px] font-normal pt-12 pb-4">Ruang Edit</div>
            <div class="flex">
                <form class="w-[35rem] flex flex-col px-2">
                    <label class="font-medium" for="kodeWbs">Kode WBS</label>
                    <input class="text-[16px] mb-3 px-3 py-1 bg-zinc-200 focus:bg-zinc-100 rounded-lg" id="kodeWbs" name="kodeWbs" type="text">
                    <label class="font-medium" for="namaWbs">Nama WBS</label>
                    <input class="text-[16px] mb-3 px-3 py-1 bg-zinc-200 focus:bg-zinc-100 rounded-lg" id="namaWbs" name="namaWbs"
                        type="text">
                    <label class="font-medium" for="parentWbs">Parent WBS</label>
                    <input class="text-[16px] mb-3 px-3 py-1 bg-zinc-200 focus:bg-zinc-100 rounded-lg" id="parentWbs" name="parentWbs"
                        type="text">
                    <label for="steps-range" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Probability</label>
                    <input id="steps-range" type="range" min="0" max="5" value="2.5" step="1"
                        class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">
                    <div class="py-1 flex flex-wrap place-content-between px-1">
                        <span>0</span>
                        <span>1</span>
                        <span>2</span>
                        <span>3</span>
                        <span>4</span>
                        <span>5</span>
                    </div>
                    <label for="steps-range" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Impact</label>
                    <input id="steps-range" type="range" min="0" max="5" value="2.5" step="1"
                        class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">
                    <div class="py-1 flex flex-wrap place-content-between px-1">
                        <span>0</span>
                        <span>1</span>
                        <span>2</span>
                        <span>3</span>
                        <span>4</span>
                        <span>5</span>
                    </div>

                    <div class="flex my-4 justify-center">
                        <button class="w-[10rem] mx-2 py-1 rounded-lg text-center font-medium text-[16px] text-white bg-blue-500 hover:bg-blue-600">Tambah</button>
                        <button class="w-[10rem] mx-2 py-1 rounded-lg text-center font-medium text-[16px] text-white bg-blue-500 hover:bg-blue-600">Edit</button>
                    </div>
                </form>
                <form class="w-[35rem] flex flex-col px-2">
                    <label class="font-medium" for="kodeRba">Kode RBA</label>
                    <input class="text-[16px] mb-3 px-3 py-1 bg-zinc-200 focus:bg-zinc-100 rounded-lg" id="kodeRba" name="kodeRba"
                        type="text">
                    <label class="font-medium" for="namaRba">Nama RBA</label>
                    <input class="text-[16px] mb-3 px-3 py-1 bg-zinc-200 focus:bg-zinc-100 rounded-lg" id="namaRba" name="namaRba"
                        type="text">
                    <label class="font-medium" for="parentRba">Parent RBA</label>
                    <input class="text-[16px] mb-3 px-3 py-1 bg-zinc-200 focus:bg-zinc-100 rounded-lg" id="parentRba" name="parentRba"
                        type="text">
                    <div class="flex my-4 justify-center">
                        <button
                            class="w-[10rem] mx-2 py-1 rounded-lg text-center font-medium text-[16px] text-white bg-blue-500 hover:bg-blue-600">Tambah</button>
                        <button
                            class="w-[10rem] mx-2 py-1 rounded-lg text-center font-medium text-[16px] text-white bg-blue-500 hover:bg-blue-600">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div
        class="w-48 h-[40px] bg-cyan-300 rounded-bl-[50px] right-[0px] top-[0] fixed flex pl-5 pr-2 py-1 place-content-between">
        <div class="h-[45px] pl-2 text-black text-[15px] font-normal text-[17px] font-semibold">Almerano, UNS</div>
        <a href="./skripsi.html" class="w-[30px] h-[30px] bg-red-500 rounded-full flex items-center justify-center">
            <img class="w-[15px] h-[18px]" src="/static/logo-exit3.svg" alt="">
        </a>
    </div>
</body>

</html>