<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="./logo-uns-biru.webp" type="image/x-icon">
    <title>APLIKASI ANALISIS RISIKO KECELAKAAN KERJA PADA PROYEK</title>
</head>

<body>
    <div class="flex flex-col px-60 bg-white py-16">
        <div class="w-[542px] flex">
            <img class="w-[110px] h-[110px] left-0 top-0 rounded-full" src="/static/logo-uns-biru.webp" />
            <div class="w-[356px] h-[120px] pl-5 text-black text-[24px] font-bold">APLIKASI
                ANALISIS RISIKO KECELAKAAN KERJA PADA PROYEK </div>
        </div>
        <div>
            <div class="text-black text-[26px] font-medium pt-12">Proyek Jembatan Ancol, Jakarta</div>
            <div class="text-black text-[16px]">24/6/2023 - 12/8/2024</div>
            <div class="w-[50rem] h-[20rem] bg-gray-100 border border-gray-200 rounded-lg mt-4"></div>
            <div class="text-black text-[14px]">Jembatan_Ancol_2024.rvt</div>
            <div class="w-full h-[1px] bg-gray-300 my-6"></div>
        </div>
        <div>
            <div class="text-black text-[26px] font-normal pb-4">Pekerjaan yang berhasil diidentifikasi</div>
            <div class="flex">
                <div class="mx-2">
                    <div
                        class="w-[31.5rem] mb-5 bg-zinc-300 py-1 border border-gray-500 text-[16px] font-semibold text-center">
                        WBS</div>
                    <div class="relative overflow-x-auto">
                        <table class="w-full text-sm border border-gray-300 text-left text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-200">
                                <tr>
                                    <th scope="col" class="w-10 pl-6 pr-4 py-3">
                                        Kode
                                    </th>
                                    <th scope="col" class="w-96 pr-6 pl-4 py-3">
                                        Nama
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bg-white border-b">
                                    <th scope="row" class="pl-6 pr-4 py-3 whitespace-nowrap">
                                        2
                                    </th>
                                    <td class="pr-6 pl-4 py-3">
                                        <button class="font-medium text-gray-900 hover:text-blue-400 focus:text-blue-400">Sub
                                            Structure</button>
                                    </td>
                                </tr>
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <th scope="row" class="pl-6 pr-4 py-3 whitespace-nowrap">
                                        2.1
                                    </th>
                                    <td class="pr-6 pl-4 py-3">
                                        <button class="font-medium text-gray-900 hover:text-blue-400 focus:text-blue-400">Earthwork</button>
                                    </td>
                                </tr>
                                <tr class="bg-white dark:bg-gray-800">
                                    <th scope="row" class="pl-6 pr-4 py-3 whitespace-nowrap">
                                        2.1.1
                                    </th>
                                    <td class="pr-6 pl-4 py-3">
                                        <button
                                            class="font-medium text-gray-900 hover:text-blue-400 focus:text-blue-400">Soil
                                            Excavation</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="mx-2">
                    <div
                        class="w-[31.5rem] mb-5 bg-zinc-300 py-1 border border-gray-500 text-[16px] font-semibold text-center">
                        RBA</div>
                    <div class="relative overflow-x-auto">
                        <table class="w-full text-sm border border-gray-300 text-left text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-200">
                                <tr>
                                    <th scope="col" class="w-10 pl-6 pr-4 py-3">
                                        Kode
                                    </th>
                                    <th scope="col" class="w-96 pr-6 pl-4 py-3">
                                        Nama
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bg-white border-b">
                                    <th scope="row" class="pl-6 pr-4 py-3 whitespace-nowrap">
                                        RA21
                                    </th>
                                    <td class="pr-6 pl-4 py-3">
                                        <button class="font-medium text-gray-900 hover:text-blue-400 focus:text-blue-400">Sub
                                            Worker Stuck</button>
                                    </td>
                                </tr>
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <th scope="row" class="pl-6 pr-4 py-3 whitespace-nowrap">
                                        RA20
                                    </th>
                                    <td class="pr-6 pl-4 py-3">
                                        <button class="font-medium text-gray-900 hover:text-blue-400 focus:text-blue-400">Worker Slip</button>
                                    </td>
                                </tr>
                                <tr class="bg-white dark:bg-gray-800">
                                    <th scope="row" class="pl-6 pr-4 py-3 whitespace-nowrap">
                                        RA5
                                    </th>
                                    <td class="pr-6 pl-4 py-3">
                                        <button class="font-medium text-gray-900 hover:text-blue-400 focus:text-blue-400">Soil
                                            Earthwall Collapse</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <button class="w-[10rem] mx-2 py-1 my-3 rounded-md text-center font-medium text-[16px] text-white bg-blue-500 hover:bg-blue-600">Edit WBS & RBA</button>
            <div class="w-full h-[1px] bg-gray-300 my-6"></div>
        </div>
        <div>
            <div class="text-black text-[26px] font-normal pb-4">Indeks Risiko WBS</div>
            <div class="flex">
                <div class="mx-2">
                    <div class="w-[37rem] mb-5 bg-zinc-300 py-1 border border-gray-500 text-[16px] font-semibold text-center">
                        WBS</div>
                    <div class="relative overflow-x-auto">
                        <table class="w-full text-sm border border-gray-300 text-left text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-200">
                                <tr>
                                    <th scope="col" class="w-10 pl-6 pr-4 py-3">
                                        Kode
                                    </th>
                                    <th scope="col" class="w-96 pr-6 pl-4 py-3">
                                        Nama
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bg-white border-b">
                                    <th scope="row" class="pl-6 pr-4 py-3 whitespace-nowrap">
                                        2
                                    </th>
                                    <td class="pr-6 pl-4 py-3">
                                        <button class="font-medium text-gray-900 hover:text-blue-400 focus:text-blue-400">Sub
                                            Structure</button>
                                    </td>
                                </tr>
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <th scope="row" class="pl-6 pr-4 py-3 whitespace-nowrap">
                                        2.1
                                    </th>
                                    <td class="pr-6 pl-4 py-3">
                                        <button
                                            class="font-medium text-gray-900 hover:text-blue-400 focus:text-blue-400">Earthwork</button>
                                    </td>
                                </tr>
                                <tr class="bg-white dark:bg-gray-800">
                                    <th scope="row" class="pl-6 pr-4 py-3 whitespace-nowrap">
                                        2.1.1
                                    </th>
                                    <td class="pr-6 pl-4 py-3">
                                        <button class="font-medium text-gray-900 hover:text-blue-400 focus:text-blue-400">Soil
                                            Excavation</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="mx-2">
                    <div class="w-[8rem] mb-5 bg-zinc-300 py-1 border border-gray-500 text-[16px] font-semibold text-center">
                        Probability</div>
                    <div class="relative overflow-x-auto">
                        <table class="w-full text-sm border border-gray-300 text-left text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-200">
                                <tr>
                                    <th scope="col" class="w-10 px-4 py-3 text-center">
                                        Nilai
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bg-white border-b">
                                    <th scope="row" class="px-4 py-3 whitespace-nowrap text-center">
                                        2
                                    </th>
                                </tr>
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <th scope="row" class="px-4 py-3 whitespace-nowrap text-center">
                                        3
                                    </th>
                                </tr>
                                <tr class="bg-white dark:bg-gray-800">
                                    <th scope="row" class="px-4 py-3 whitespace-nowrap text-center">
                                        1
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="mx-2">
                    <div class="w-[8rem] mb-5 bg-zinc-300 py-1 border border-gray-500 text-[16px] font-semibold text-center">
                        Impact</div>
                    <div class="relative overflow-x-auto">
                        <table class="w-full text-sm border border-gray-300 text-left text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-200">
                                <tr>
                                    <th scope="col" class="w-10 px-4 py-3 text-center">
                                        Nilai
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bg-white border-b">
                                    <th scope="row" class="px-4 py-3 whitespace-nowrap text-center">
                                        3
                                    </th>
                                </tr>
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <th scope="row" class="px-4 py-3 whitespace-nowrap text-center">
                                        1
                                    </th>
                                </tr>
                                <tr class="bg-white dark:bg-gray-800">
                                    <th scope="row" class="px-4 py-3 whitespace-nowrap text-center">
                                        2
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="mx-2">
                    <div class="w-[8rem] mb-5 bg-zinc-300 py-1 border border-gray-500 text-[16px] font-semibold text-center">
                        IR</div>
                    <div class="relative overflow-x-auto">
                        <table class="w-full text-sm border border-gray-300 text-left text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-200">
                                <tr>
                                    <th scope="col" class="w-10 px-4 py-3 text-center">
                                        Nilai
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bg-white border-b">
                                    <th scope="row" class="px-4 py-3 whitespace-nowrap text-center">
                                        6
                                    </th>
                                </tr>
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <th scope="row" class="px-4 py-3 whitespace-nowrap text-center">
                                        3
                                    </th>
                                </tr>
                                <tr class="bg-white dark:bg-gray-800">
                                    <th scope="row" class="px-4 py-3 whitespace-nowrap text-center">
                                        2
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <button
                class="w-[10rem] mx-2 py-1 my-3 rounded-md text-center font-medium text-[16px] text-white bg-blue-500 hover:bg-blue-600">Lihat Detail</button>
            <div class="w-full h-[1px] bg-gray-300 my-6"></div>
        </div>
        <div>
            <div class="text-black text-[26px] font-normal pb-4">Indeks Risiko RBA</div>
            <div class="flex">
                <div class="mx-2">
                    <div class="w-[37rem] mb-5 bg-zinc-300 py-1 border border-gray-500 text-[16px] font-semibold text-center">
                        RBA</div>
                    <div class="relative overflow-x-auto">
                        <table class="w-full text-sm border border-gray-300 text-left text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-200">
                                <tr>
                                    <th scope="col" class="w-10 pl-6 pr-4 py-3">
                                        Kode
                                    </th>
                                    <th scope="col" class="w-96 pr-6 pl-4 py-3">
                                        Nama
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bg-white border-b">
                                    <th scope="row" class="pl-6 pr-4 py-3 whitespace-nowrap">
                                        RA21
                                    </th>
                                    <td class="pr-6 pl-4 py-3">
                                        <button class="font-medium text-gray-900 hover:text-blue-400 focus:text-blue-400">Worker Stuck</button>
                                    </td>
                                </tr>
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <th scope="row" class="pl-6 pr-4 py-3 whitespace-nowrap">
                                        RA20
                                    </th>
                                    <td class="pr-6 pl-4 py-3">
                                        <button
                                            class="font-medium text-gray-900 hover:text-blue-400 focus:text-blue-400">Worker Slip</button>
                                    </td>
                                </tr>
                                <tr class="bg-white dark:bg-gray-800">
                                    <th scope="row" class="pl-6 pr-4 py-3 whitespace-nowrap">
                                        RA5
                                    </th>
                                    <td class="pr-6 pl-4 py-3">
                                        <button class="font-medium text-gray-900 hover:text-blue-400 focus:text-blue-400">Earthwall Collapse</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="mx-2">
                    <div class="w-[8rem] mb-5 bg-zinc-300 py-1 border border-gray-500 text-[16px] font-semibold text-center">
                        Probability</div>
                    <div class="relative overflow-x-auto">
                        <table class="w-full text-sm border border-gray-300 text-left text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-200">
                                <tr>
                                    <th scope="col" class="w-10 px-4 py-3 text-center">
                                        Nilai
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bg-white border-b">
                                    <th scope="row" class="px-4 py-3 whitespace-nowrap text-center">
                                        2
                                    </th>
                                </tr>
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <th scope="row" class="px-4 py-3 whitespace-nowrap text-center">
                                        3
                                    </th>
                                </tr>
                                <tr class="bg-white dark:bg-gray-800">
                                    <th scope="row" class="px-4 py-3 whitespace-nowrap text-center">
                                        1
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="mx-2">
                    <div class="w-[8rem] mb-5 bg-zinc-300 py-1 border border-gray-500 text-[16px] font-semibold text-center">
                        Impact</div>
                    <div class="relative overflow-x-auto">
                        <table class="w-full text-sm border border-gray-300 text-left text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-200">
                                <tr>
                                    <th scope="col" class="w-10 px-4 py-3 text-center">
                                        Nilai
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bg-white border-b">
                                    <th scope="row" class="px-4 py-3 whitespace-nowrap text-center">
                                        3
                                    </th>
                                </tr>
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <th scope="row" class="px-4 py-3 whitespace-nowrap text-center">
                                        1
                                    </th>
                                </tr>
                                <tr class="bg-white dark:bg-gray-800">
                                    <th scope="row" class="px-4 py-3 whitespace-nowrap text-center">
                                        2
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="mx-2">
                    <div class="w-[8rem] mb-5 bg-zinc-300 py-1 border border-gray-500 text-[16px] font-semibold text-center">
                        IR</div>
                    <div class="relative overflow-x-auto">
                        <table class="w-full text-sm border border-gray-300 text-left text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-200">
                                <tr>
                                    <th scope="col" class="w-10 px-4 py-3 text-center">
                                        Nilai
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bg-white border-b">
                                    <th scope="row" class="px-4 py-3 whitespace-nowrap text-center">
                                        6
                                    </th>
                                </tr>
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <th scope="row" class="px-4 py-3 whitespace-nowrap text-center">
                                        3
                                    </th>
                                </tr>
                                <tr class="bg-white dark:bg-gray-800">
                                    <th scope="row" class="px-4 py-3 whitespace-nowrap text-center">
                                        2
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <button
                class="w-[10rem] mx-2 py-1 my-3 rounded-md text-center font-medium text-[16px] text-white bg-blue-500 hover:bg-blue-600">Lihat
                Detail</button>
            <div class="w-full h-[1px] bg-gray-300 my-6"></div>
        </div>
    </div>
    <div
        class="w-48 h-[40px] bg-cyan-300 rounded-bl-[50px] right-[0px] top-[0] fixed flex pl-5 pr-2 py-1 place-content-between">
        <div class="h-[45px] pl-2 text-black text-[15px] font-normal text-[17px] font-semibold">Almerano, UNS</div>
        <a href="./skripsi.html" class="w-[30px] h-[30px] bg-red-500 rounded-full flex items-center justify-center">
            <img class="w-[15px] h-[18px]" src="/static/logo-exit3.svg" alt="">
        </a>
    </div>
</body>

</html>