<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="./logo-uns-biru.webp" type="image/x-icon">
    <title>APLIKASI ANALISIS RISIKO KECELAKAAN KERJA PADA PROYEK</title>
</head>

<body>
    <div class="flex justify-center">
        <div class="w-[1280px] h-[720px] flex flex-col items-center bg-white">
            <div class="h-[120px] mt-16 mb-8 justify-self-center flex">
                <img class="w-[110px] h-[110px] left-0 top-0 rounded-full" src="/static/logo-uns-biru.webp" />
                <div class="w-[330px] h-[120px] pl-5 text-black text-[24px] font-bold">APLIKASI
                    ANALISIS RISIKO KECELAKAAN KERJA PADA PROYEK </div>
            </div>
            <div class="w-[434.89px]">
                <div class="w-[434.89px] h-[68px] mb-2">
                    <div class="text-black text-[20px] font-medium">E-mail</div>
                    <input placeholder="Masukan email anda!"
                        class="w-[434.89px] p-3 font-medium h-10 bg-zinc-300 focus:bg-zinc-200 rounded-lg"></input>
                </div>
                <div class="w-[434.89px] h-[68px] mb-2">
                    <div class="text-black text-[20px] font-medium">Nama</div>
                    <input placeholder="Masukan nama lengkap anda!"
                        class="w-[434.89px] p-3 font-medium h-10 bg-zinc-300 focus:bg-zinc-200 rounded-lg"></input>
                </div>
                <div class="w-[434.89px] h-[68px] mb-2">
                    <div class="text-black text-[20px] font-medium">Umur</div>
                    <input type="number" placeholder="Masukan umur (tahun) anda!"
                        class="w-[434.89px] p-3 font-medium h-10 bg-zinc-300 focus:bg-zinc-200 rounded-lg"></input>
                </div>
                <div class="w-[434.89px] h-[68px] mb-2">
                    <div class="text-black text-[20px] font-medium">Instansi</div>
                    <input placeholder="Masukan asal instansi (Perusahaan/Universitas) anda!"
                        class="w-[434.89px] p-3 font-medium h-10 bg-zinc-300 focus:bg-zinc-200 rounded-lg"></input>
                </div>
                <div class="w-[434.89px] h-[67px] mb-2">
                    <div class="text-black text-[20px] font-medium">Jabatan</div>
                    <input placeholder="Masukan jabatan anda dalam instansi!"
                        class="w-[434.89px] p-3 h-10 font-medium bg-zinc-300 focus:bg-zinc-200 rounded-lg"></input>
                </div>
            </div>
            <a href="./skripsi.html"
                class="w-[136px] h-[35px] bg-sky-500 hover:bg-blue-500 rounded-xl text-center text-white text-[20px] mt-8 pb-1">
                Lanjut
            </a>     
        </div>
    </div>

</body>

</html>