<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/datepicker.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="./logo-uns-biru.webp" type="image/x-icon">
    <title>APLIKASI ANALISIS RISIKO KECELAKAAN KERJA PADA PROYEK</title>
</head>
<body>
    <div class="flex flex-col px-60 bg-white pt-16">
        <div class="w-[542px] flex">
            <img class="w-[110px] h-[110px] left-0 top-0 rounded-full" src="/static/logo-uns-biru.webp" />
            <div class="w-[356px] h-[120px] pl-5 text-black text-[24px] font-bold">APLIKASI
                ANALISIS RISIKO KECELAKAAN KERJA PADA PROYEK </div>
        </div>
        <div class="text-black text-[26px] font-normal pt-12 pb-4">Nilai Probability dan Impact Responden (WBS)</div>
        <div class="w-48 h-[40px] bg-cyan-300 rounded-bl-[50px] right-[0px] top-[0] fixed flex pl-5 pr-2 py-1 place-content-between">
            <div class="h-[45px] pl-2 text-black text-[15px] font-normal text-[17px] font-semibold">Almerano, UNS</div>
            <a href="./skripsi.html" class="w-[30px] h-[30px] bg-red-500 rounded-full flex items-center justify-center">
                <img class="w-[15px] h-[18px]" src="/static/logo-exit3.svg" alt=""></img>
            </a>
        </div>
        <div class="flex flex-col">
            <div class="w-[1115px] h-[30px]">
                <div class="w-[214.81px] h-[30px] ">
                  <div class="w-[214.81px] h-[30px] pl-3 bg-blue-200 border border-gray-500">2.1.1 Soil Excavation</div>
                </div>
            </div>
            <div class="relative overflow-x-auto mt-5">
                <table class="w-full text-sm text-center text-black ">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-200 border border-gray-300">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left">
                                Nama
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Usia
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Instansi
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Jabatan
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Probability
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Impact
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white border border-gray-300">
                            <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap text-left">
                                Rafli Farhan Naji
                            </th>
                            <td class="px-6 py-4">
                                22
                            </td>
                            <td class="px-6 py-4">
                                UNS
                            </td>
                            <td class="px-6 py-4">
                                Mahasiswa
                            </td>
                            <td class="px-6 py-4">
                                3.0
                            </td>
                            <td class="px-6 py-4">
                                3.2
                            </td>
                        </tr>
                        <tr class="bg-white border border-gray-300">
                            <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap text-left">
                                Almerano Rashif Fatahillah
                            </th>
                            <td class="px-6 py-4">
                                22
                            </td>
                            <td class="px-6 py-4">
                                UNS
                            </td>
                            <td class="px-6 py-4">
                                Mahasiswa
                            </td>
                            <td class="px-6 py-4">
                                3.2
                            </td>
                            <td class="px-6 py-4">
                                5.0
                            </td>
                        </tr>
                        <tr class="bg-white border border-gray-300">
                            <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap text-left">
                                Rayhan Rifyal H
                            </th>
                            <td class="px-6 py-4">
                                22
                            </td>
                            <td class="px-6 py-4">
                                UNS
                            </td>
                            <td class="px-6 py-4">
                                Mahasiswa
                            </td>
                            <td class="px-6 py-4">
                                3.4
                            </td>
                            <td class="px-6 py-4">
                                4.8
                            </td>
                        </tr>
                        <tr class="bg-white border border-gray-300">
                            <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap text-left">
                                Zidane Abdullah
                            </th>
                            <td class="px-6 py-4">
                                22
                            </td>
                            <td class="px-6 py-4">
                                UNS
                            </td>
                            <td class="px-6 py-4">
                                Mahasiswa
                            </td>
                            <td class="px-6 py-4">
                                2.8
                            </td>
                            <td class="px-6 py-4">
                                4.2
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="w-[1115px] h-[30px] mt-5">
                <div class="w-[214.81px] h-[30px] ">
                  <div class="w-[214.81px] h-[30px] pl-3 bg-blue-200 border border-gray-500">2.1.2 Landfill</div>
                </div>
            </div>
            <div class="relative overflow-x-auto mt-5 mb-20">
                <table class="w-full text-sm text-center text-black ">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-200 border border-gray-300">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left">
                                Nama
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Usia
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Instansi
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Jabatan
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Probability
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Impact
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white border border border-gray-300">
                            <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap text-left">
                                Rafli Farhan Naji
                            </th>
                            <td class="px-6 py-4">
                                22
                            </td>
                            <td class="px-6 py-4">
                                UNS
                            </td>
                            <td class="px-6 py-4">
                                Mahasiswa
                            </td>
                            <td class="px-6 py-4">
                                3.0
                            </td>
                            <td class="px-6 py-4">
                                3.2
                            </td>
                        </tr>
                        <tr class="bg-white border border border-gray-300">
                            <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap text-left">
                                Almerano Rashif Fatahillah
                            </th>
                            <td class="px-6 py-4">
                                22
                            </td>
                            <td class="px-6 py-4">
                                UNS
                            </td>
                            <td class="px-6 py-4">
                                Mahasiswa
                            </td>
                            <td class="px-6 py-4">
                                3.2
                            </td>
                            <td class="px-6 py-4">
                                5.0
                            </td>
                        </tr>
                        <tr class="bg-white border border border-gray-300">
                            <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap text-left">
                                Rayhan Rifyal H
                            </th>
                            <td class="px-6 py-4">
                                22
                            </td>
                            <td class="px-6 py-4">
                                UNS
                            </td>
                            <td class="px-6 py-4">
                                Mahasiswa
                            </td>
                            <td class="px-6 py-4">
                                3.4
                            </td>
                            <td class="px-6 py-4">
                                4.8
                            </td>
                        </tr>
                        <tr class="bg-white border border border-gray-300">
                            <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap text-left">
                                Zidane Abdullah
                            </th>
                            <td class="px-6 py-4">
                                22
                            </td>
                            <td class="px-6 py-4">
                                UNS
                            </td>
                            <td class="px-6 py-4">
                                Mahasiswa
                            </td>
                            <td class="px-6 py-4">
                                2.8
                            </td>
                            <td class="px-6 py-4">
                                4.2
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>